<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/modelo_carta_apoio.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/medidas-anticorrupcao_versao-2015-06-25.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/sumario_executivo.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/lista-apoiadores-por-uf.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/Ficha-de-Assinatura_.pdf</string>
	</array>
	<array>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/resumo-medidas-frente-verso.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/001_15_10_Medidas_Corrupcao_Banner_LONA_sem_marca_apoio.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/001_15_10_Medidas_Banner_Online_600x120_APOIE.png</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/001_15_Prisma_Mesa_10_Medidas.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/filipeta-de-apoio-10-medidas.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/001_15_10_medidas_Cartaz_Apoio_A4.pdf</string>
		<string>http://combateacorrupcao.mpf.mp.br/10-medidas/docs/001_15_10_Medidas_Camiseta.pdf</string>
	</array>
</array>
</plist>
